.main-container {
    max-width: 80%;
    margin: auto;
    margin-top: 130px;
    border: 1px solid black;
}

.left-side {
    border-right: 1px solid black;
}

.normal {
    font-weight: normal;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.simple-checkbox {
    opacity: 0.5;
    width: 18px;
    height: 18px;
}

.custom-control-label {
    cursor: pointer;
}

.fields-heading {
    height: 50px;
    background-color: #ededed;
    font-weight: bold;
    padding-left: 15px;
    line-height: 50px;
}

.delete-button, .plus-button {
    background-color: #eb5327;
    width: 30px;
    height: 30px;
    border: none;
}

.delete-button:focus, .plus-button:focus, .custom-select:focus {
    box-shadow:none !important;
}

.btn.btn-success:active {
    background-color: #eb5327;
}

.row.survey-field {
    background-color: #ededed;
    margin: auto;
    margin-top: 15px;
}

.cell {
    border-right: 1px #dee2e6 solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type='text'] {
    width: 90%;
}

.custom-select {
    height: 30px;
    line-height: 13px;
    background-color: inherit;
    width: 100%;
}

.plus-square {
    width: 30px;
    height: 30px;
}

.add-field {
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
}

.save {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
}

#save-button {
    background-color: #EB5327;
    border: none;
    color: white;
    height: 38px;
    float: right;
    padding-left: 50px;
    padding-right: 50px;
}