<div class='container'><div id='table-div'>
<div id='header' style="width:100%;height:8%;background-color:rgb(114, 110, 110);">
<span id='table-header-text'>QUANTITY SERVEY</span>
<div style="color:rgb(48, 47, 47);font-size:16px;height: 50px;">;</div>
<!-- <button type="button" class="btn btn-success btn-sm" style="width:30px;height:30px;float:right;margin-top:5px;margin-bottom: 4px; ">
<i class="fas fa-plus"></i>
</button> -->
</div>
<table>
<thead>
<!-- <thead class='navbar' id='myHeader' appStickyHeader> -->
<tr id='header-row' appStickyHeader>
<th>RESOURCE NAME</th>
<th>RESOURCE CODE</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let datum of data">
<td *ngFor="let col of columns">{{datum[col]}}</td>
</tr>
</tbody>
</table>
<app-paginator (eventChanged)="eventChangedHandler($event)"></app-paginator>
</div>
<a [routerLink]="['/template']" routerLinkActive="router-link-active" ><span id='to-template'>Edit Quantity Survey Template</span></a>
</div>