<div class="row survey-field">
  <div class="col-sm-4 cell">
    Field <br>
    <input type='text' #username="ngModel" ngModel name='username' id="username" required email />
  </div>
  <div class="col-sm-3 cell">
    Type <br>
    <select class="custom-select">
      <option value="1">Number</option>
      <option value="2">Text</option>
      <option value="3">Formula</option>
    </select>
  </div>
  <div class="col-sm-4 cell">

  </div>
  <div class="col-sm-1 cell">
    <button type="button" class="btn btn-success btn-sm delete-button">
      <mdb-icon fas icon="trash-alt"></mdb-icon>
    </button>

  </div>
</div> <!-- class="row survey-field" -->
