<div id='table'>

<div id='header' style="width:100%;height:8%;background-color:rgb(114, 110, 110);">

<input id='search-keyword' type="text" placeholder="Keyword" style="width:180px;height:27px; margin:6px" >

<button type="button" class="btn btn-success" style="width:30px;height:30px;float:left;margin-top:4px; margin-bottom: 4px; margin-left: -6px;">
  <i class="far fa-search"></i>
</button>

  <p style="color:rgb(48, 47, 47);font-size:16px;display:inline-block;left:28%;top:8%;">Resource Catalog</p>

  <button type="button" class="btn btn-success btn-sm" style="width:30px;height:30px;float:right;margin-top:5px;margin-bottom: 4px; ">
    <i class="fas fa-plus"></i>
  </button>

</div>

<table>
  <thead>
    <tr>
      <th>RESOURCE NAME</th> 
      <th>RESOURCE CODE</th>
    </tr>
  </thead>
  <tbody>
    <!-- how to render certain number of elements -->
    <!-- <tr *ngFor="let datum of data  | slice: 0:10; let id = index;"> -->
    <tr *ngFor="let datum of data; let id = index;">
      <!-- <ng-template [ngIf]="id < 10">
        <td *ngFor="let col of columns">{{datum[col]}}</td>
      </ng-template> -->
        <td *ngFor="let col of columns">{{datum[col]}}</td>
    </tr>
  </tbody>


</table>

<div *ngIf="pageEvent">
    <h5>Page Change Event Properties (In Parent)</h5>
    <div>Page index: {{pageEvent.pageIndex}}</div>
  </div>
<app-paginator></app-paginator>
</div>
