<div id='whole-thing'>
  <div id='login-logo'>
    Login
  </div>
  <div id='form-div'>
      <strong>Username</strong>&nbsp;
      <input type='text'/>
      <br>
      <strong>Password</strong>&nbsp;
      <input type='text'/>
      <br>
      <button id='login-button' type='button'>Login</button>
      <br>
      <input type='checkbox'/>Remember me
      <br>
      <button type='button'>Sign up</button>
      <a [routerLink]="['/abc']" routerLinkActive="router-link-active" >Forgot password?</a>
  </div>
  
</div>

