<div id='whole-thing'>
  <div id='login-logo'>
    Login
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div id='form-div' ngModelGroup="userData" #userData="ngModelGroup">
      <strong>Username</strong>&nbsp;<br>
      <input type='text' #username ="ngModel" ngModel name='username' id="username" required email/>
      <br *ngIf="!username.valid && username.touched">
      <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a valid username!</span>
      <br>
      <strong>Password</strong>&nbsp;<br>
      <input type='password' #password="ngModel" ngModel name='password' required minlength="8"/>
      <br *ngIf="!password.valid && password.touched">
      <span class="help-block" *ngIf="!password.valid && password.touched">A password must be at least 8 characters long!</span>
      <br>

      <button id='login-button' type='submit'  *ngIf="!isLoading" [disabled]="!f.valid">Login</button>
      <br>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck">
        <label class="custom-control-label" for="customCheck">Remember me</label>
      </div>
      <br><br><br>
    </div>
  </form>

  <div class="signup">
    <button id='signup-button' type='submit' routerLink='/registration'>sign up</button>
    <a [routerLink]="['/a']" routerLinkActive="router-link-active" [queryParams]="{msg: 'doomed'}">
      <span id="forgot">Forgot password?</span></a>
  </div>
  
</div>

