#whole-thing {
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 5%;
    text-align: center;
}

#login-logo {
    display: inline-block;
    color: #E68646;
    font-family: 'Roboto', sans-serif;
    font-size: 500%;
    font-style: italic;
    text-shadow: 1.5px 1px #a36b42;
    margin: auto;
}

#login-button {
    background-color: #EB5327;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

strong {
    float: left;
    margin-bottom: 10px;
}

input[type='text'].ng-invalid.ng-touched,
input[type='password'].ng-invalid.ng-touched {
    border: 1px solid red;
}

input[type='text'], input[type='password'] {
    min-width: 100%;
    margin-bottom: 3px;
    height: 45px;
    background-color: #fafbbc;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
}

input[type='checkbox'] {
    float: left;
}

span {
    float: left;
}

.custom-control {
    float: left;
    margin-bottom: 100px;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.signup {
    text-align: left;
}

#signup-button {
    background-color: #EB5327;
    border: none;
    color: white;
    height: 38px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -130px;;
}

a {
    float: right;
}

#forgot {
    margin-top: 7px;
    color: black;
}

button:focus {outline:0;}



 /* #fafbbc - light-yellow color */