 <select id="selepro" (change)='projecttwo($event)' style="display:block;float: right; width:180px; position:relative;right:8%">
    <option value="project0"  selected="selected">Project 1</option>
    <option value="project1">Project 2</option>
</select> 





<div id='table' style="width:41%;display: inline-block;">
  <div id='header' style="width:100%;height:8%;background-color:rgb(100, 98, 98);">
  <p id="headP" style="color:rgb(29, 21, 21);font-size:16px;display:inline-block;left:28%;top:8%;">Resource Catalog</p>
    <a  id="tranbutn" class="btn btn-warning btn-sm" style="float:right;margin:4px;" (click)="moveAndOverwriteSelectedRecords(TableOne, Tab)">        
        <i class="fas fa-arrow-alt-circle-right"></i>  </a> 
        <!-- <button mat-button [matMenuTriggerFor]="menu" (mouseenter)="someMethod()" id="selebtn"><i class="fas fa-list-ul"></i> 
           </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [(ngModel)]="selectedAll" (click)="selectAll();">Select all</button>
            <button mat-menu-item >Cards</button>
            <button mat-menu-item >About</button>
          </mat-menu> -->
<!-- </div> -->

        
 <div id="selectall" ngbDropdown class="d-inline-block" autoClose="outside" style="float:right">
            <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>    <i class="fas fa-list-ul"></i>     </button>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
            <div class="form-check">
            <input type="checkbox"   class="form-check-input" id="dropdownCheck" [(ngModel)]="selectedAll" (change)="selectAll();">
            <label class="form-check-label" for="dropdownCheck">
                    Select all
            </label>
            </div>
            <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
                      Clear selection
            </label></div></div></div>
             </div> 
            
  <table style="color:rgb(88, 86, 86)">
    <thead>
      <tr>
        <th   style="background-color:rgb(213, 218, 216);border-top:solid 1px rgb(192, 189, 189);border-bottom:solid 1px rgb(192, 189, 189)"></th>
        <th   style=" border-right:solid 1px rgb(192, 189, 189);border-top:solid 1px rgb(192, 189, 189);border-bottom:solid 1px rgb(192, 189, 189);text-align: center; height:14%;width:50%;background-color:rgb(213, 218, 216) " >RESOURCE NAME</th> 
        <th   style="border:solid 1px rgb(192, 189, 189);text-align: center; height:14%;width:50%;background-color:rgb(213, 218, 216)">RESOURCE CODE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let datum of pagedItems">
         <td>
         <input type="checkbox"  [(ngModel)]="datum.selected" (change)="onSelectionChanged($event, datum, TableOne)">
         </td> 
         <!-- <td>{{datum.cost_code}}</td>
         <td> {{datum.name}}</td>      -->
         <td *ngFor="let col of columns">{{datum[col]}}</td>
         </tr>
         </tbody>
        </table>

        <div class="btn-group" style="display:inline-block;position: relative;left:15px;font-size:14px;color:rgb(117, 115, 114)">
         <li> <a id="twty" (click)="getpagertwty($event)">Show 20 record</a></li></div>
         <div style="display:inline-block;position: relative;left:35px;padding:3px; font-size:14px;color:rgb(117, 115, 114)"><li><a id="thty" (click)="getpagerthid($event)">Show 30 record</a></li></div>

     <!-- -------------------------------------------------pagenation---------------------------------------------------->
         <div style="position: relative;left:23%;display: inline-block;">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="font-size:15px;color:rgb(117, 115, 114)"> 
            <a [ngClass]="{disabled:pager.currentPage === 1}"(click)="setPage(pager.currentPage - 1)"style="display:inline-block;padding:2px;">Previous</a>
            <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"style="display:inline-block;padding:2px;"
                (click)="setPage(page)">{{page}}</a>
         <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)"style="display:inline-block;padding:2px;">Next</a>
          </ul></div>
  </div>
<!-- ----------------------------------------------------table two------------------------------------------------------------ -->

<div id='table'style="width:41%;display: inline-block;position: absolute;">

  <div id='header' style="width:100%;height:8%;background-color:rgb(100, 98, 98);">

      <p id="headTP" style="color:rgb(48, 47, 47);font-size:16px;display:inline-block;left:28%;top:8%;">Resource Catalog</p>
      <!-- <a  class="btn btn-warning btn-sm" style="float:right;margin:7px;" (click)="Delete(Tab, Tabthird)"><span class="glyphicon glyphicon-th-list"></span> -->
      <a  class="btn btn-warning btn-sm" style="float:right;margin:7px;"><span class="glyphicon glyphicon-th-list"></span>
      <i class="fas fa-trash-alt"></i>
      </a> 
  </div>
  
   
<table style="color:rgb(88, 86, 86)">
    <thead>
      <tr>
        <th   style="background-color:rgb(213, 218, 216); border-top:solid 1px rgb(192, 189, 189);border-bottom:solid 1px rgb(192, 189, 189)"></th>
        <th   style=" border-right:solid 1px rgb(192, 189, 189);border-top:solid 1px rgb(192, 189, 189);border-bottom:solid 1px rgb(192, 189, 189);text-align: center; height:14%;width:50%;background-color:rgb(213, 218, 216) " >RESOURCE NAME</th> 
        <th   style="border:solid 1px rgb(192, 189, 189);text-align: center; height:14%;width:50%;background-color:rgb(213, 218, 216)">RESOURCE CODE</th>
      </tr>
          </thead>
          <tbody>
          <!-- <tr *ngFor="let datum of Tab| paginate: { itemsPerPage: 10, currentPage: p }; " [(ngModel)]="Tab">  -->
          <!-- <tr *ngFor="let datum of Tab| paginate: { itemsPerPage: 10, currentPage: p }; ">  -->
          <tr *ngFor="let datum of Tab">
          <td>
          <input type="checkbox"  (change)="onSelectionChanged($event, datum, Tab)">
          </td> 
          <!-- <td>{{datum.cost_code}}</td>
          <td> {{datum.name}}</td>      -->
          <td *ngFor="let col of columns">{{datum[col]}}</td>
          </tr>
          </tbody>
          </table>
      <!-- <a   name="Click" value="Click" (click)="refresh()" class="btn btn-warning btn-sm" style="float:left;margin:10px;">         -->
      <a   name="Click" value="Click" class="btn btn-warning btn-sm" style="float:left;margin:10px;">        
      <span>Move</span></a>         
      <div style="width:400px;font-size:12px;display:inline-block;position: relative;left:45%;margin:8px;">
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      <pagination-controls (pageChange)="$event"></pagination-controls>
      </div>

  </div>
  <!-- <app-formula-page [data]=Tab></app-formula-page> -->
  
  <!-- ------------------------------------------------table three------------------------------------------------------------ -->


<!-- <div id='table' style="width:70%;display:inline-block;position: relative;left:10%;">

<div id='header' style="width:100%;height:8%;background-color:rgb(114, 110, 110);">

<p style="color:rgb(48, 47, 47);font-size:16px;display:inline-block;left:28%;top:8%;">Resource Catalog</p>
<a  class="btn btn-warning btn-sm" style="float:right;margin:4px;"><span class="glyphicon glyphicon-th-list"></span>
<i class="fas fa-trash-alt"></i></a> </div>





<table style="color:rgb(88, 86, 86)">
<thead>
<tr>
  <th style="background-color:rgb(213, 218, 216);border:solid 1px rgb(192, 189, 189); "></th>
  <th   style="border:solid 1px rgb(192, 189, 189);text-align: center; height:30px;width:50%;background-color:rgb(213, 218, 216) " >RESOURCE NAME</th> 
  <th   style="border:solid 1px rgb(192, 189, 189);text-align: center; height:30px;width:50%;background-color:rgb(213, 218, 216)">RESOURCE CODE</th>
</tr>
    </thead>
    <tbody>
      <tr *ngFor="let datum of Tabthird; ">
        <td>
            <input type="checkbox"  (change)="onSelectionChanged($event, datum, Tabthird)">
        </td> 
       <td>{{datum.cost_code}}</td>
        <td> {{datum.name}}</td>     
      </tr>
    </tbody>
  </table>
  <div style="width:400px;font-size:12px;display:inline-block;position: relative;left:30px"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>


</div> -->

<!-- </div> -->