#top-bar{
    border: 1px solid;
    border-top-color: #E5E4E5;
    border-bottom-color: #010101;
    width: 100%;
    display: inline-block;
    z-index: 10;
    overflow: visible;
    position: relative;
}
#logo {
    display: block;
    float: left;
    background-color: #E06D36;
    color: white;
    cursor: pointer;
    width: 20%;
    min-width: 225px;
    padding-bottom: 5px;
    padding-top: 5px;
    letter-spacing: 0.5px;
}
#buttons-div {
    display: block;
    float: right;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.buttons{
    display: inline-block;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.empty{
    display: block;
    float: right;
}

.buttons #left-button {
    text-align: center;
}

/* .popover-header.ng-star-inserted {
    text-align: center;
}

.popover-body {
    text-align: center;
} */