<div id='top-bar'>
  <div id='logo'>
    <i class="fab fa-microsoft fa-3x"></i>Resource Management
  </div>
  <div id='buttons-div'>
    <div id='left-button' class='buttons'><i class="fas fa-user-circle fa-2x" style='margin-top: 10px;'></i>
    &nbsp;&nbsp;Cost Manager</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div id='right-button' class='buttons'>
      <i class="fas fa-question-circle fa-2x" style='margin-top: 10px;'></i>
    </div>
    <div id='empty-right' class='empty'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
</div>